*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-bottom: 1px solid #D0D1D3;

}

.cabecalho{
    width: 1296px;
    display: flex;
    margin: 0 auto;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding-top: 26px;
    background-color: rgb(0, 0, 0);
}



.botoes_cabecalho ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.btn_comprar_cabecalho{
    background-color: #000000;
    color: #ffffff;
    flex-direction: row;
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 400px;




}

.btn{
    background-color: #000000;
    color: #ffffff;
    flex-direction: row;
    text-decoration: none;
    font-weight: 400px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

li{
    margin: 32px;
}

.botao_header{
    padding: 10px 0;
    border-radius: 10px;
    border: 1px solid #FFFFFF;

}


section{
    width: 100%;
    height: auto;
    background-color: black;
    margin: 0 auto;
}

.block1{
    display: flex;
    width: 1296px;
    height: 359px;
    margin: 0 auto;
    padding-top: 152px;
    color:#C4C4C4;
    align-items: center;
    background-color: rgb(0, 0, 0);
    
}

.block1_card{
 background-color: rgb(0, 0, 0);
 height: auto;
 width:365px;
}

.block1 img{
    background-color: #000000;
    margin-left: 72px;
}

.block1_card h2{
font-size: 32px;
}

.block1_card p{
    font-size: 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24.2px;
    letter-spacing: 1px;
    vertical-align: middle;

}


.btn1{
    margin-top: 32px;
    
}
.btn1 a{
    padding: 16px 33px 16px 33px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    width: 176px;
    height: 64px;
    border: 1px solid #FFFFFF;
    border-radius: 10px; 
    
}

.block2{
    display: flex;
    width: 1296px;
    height: 359px;
    margin: 0 auto;
    margin-top: 64px;
    color:#C4C4C4;
    align-items: center;
    font-size: 16px;

  
}

.block2 img{
    padding-right: 64px;
    margin-right: 48px;
    
}

.block2 p{
    font-weight: 300;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 1px;
}

.btn2 a{
    padding: 16px 33px 16px 33px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    width: 176px;
    height: 64px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 100px;
}

.block3{
    display: flex;
    width: 1296px;
    height: 359px;
    margin: 0 auto;
    color:#C4C4C4;
    background: linear-gradient(89.95deg, #91282F 0.44%, #330002 98.92%);
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 56px;
    border-radius: 10px;
    border-width: 1px;
}

.block3_text{
    width: 426px;
    height: 207px;
    
    padding-left: 64px;
    
    
   
}

.block3_text h2{

    font-weight: 600;
    font-size: 36px;
    line-height: 42.8px;
    letter-spacing: 0%;
    color: #FFFFFF;

}

.block3 img{
    padding-left: 162px;
    padding-right: 113px;
}

.text_footer{
    width: 1310px;
    height: 112px;
    border-bottom: 2px solid #D0D1D3;
    border-top: 2px solid #D0D1D3;
    margin: 0 auto;
    text-align: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;


}

footer h2{
    text-align: center;
}
 
.text2_footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1316px;
    height: 38px;
    background-color: #91282F;

}
